@import '../../index.scss';

.activity {
  background-color: var(--color-light);
  text-align: center;
  padding: 4rem 0;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid {
  height: 450px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 35% auto;
  gap: 2rem;
  margin-bottom: 1rem;
  & > *:first-child {
    grid-row: 1/3;
  }
  @include respond(tablet) {
    height: 400px;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 100%;
    & > *:first-child {
      grid-row: 1/2;
    }
  }
  @include respond(phone) {
    height: 700px;
  }
}

// Sub-components
.card {
  width: 100%;
  min-width: 30rem;

  display: flex;
  position: relative;
  flex-direction: column;

  overflow: hidden;
  border-radius: 0.8rem;
  text-align: start;
  background-color: var(--color-white);

  &.horizontal {
    flex-direction: row;
  }
}

.date {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-white);
  padding: 0.5rem 1rem;
  background-color: var(--color-secondary-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 1;

  & > .day {
    font-size: 2rem;
  }
  & > .month {
  }
}
.img {
  min-width: 40%;
  height: 40%;

  & > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card.horizontal .img {
  height: 100%;
}
.text {
  padding: 1.5rem;
  position: relative;
  height: 60%;
  & > * {
    margin-bottom: 1rem;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 0;
    margin: auto;
    border-bottom: 22px solid white;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
  }
}
